@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(10 10 10);
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::selection {
  background: rgb(239 68 68);
  color: #000;
}
